# Пароль для получения токена Portals
PORTALS_KEY_PASSWORD=your_password_here

# ID пользователя
USER_ID=your_user_id_here

# Токен Telegram бота (получить у @BotFather)
TELEGRAM_BOT_TOKEN=your_bot_token_here

# URL базы данных для Prisma
DATABASE_URL="file:./collections.db"